/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #ffffff, #cffcf1);
  min-height: 100vh;
}
.heading {
  color: #1e293b;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Roboto';
  text-align: center;
}
.timer-container {
  display: flex;
  width: 100%;
  max-width: 1100px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .timer-container {
    flex-direction: column;
    width: 95%;
  }
}
.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
.elapsed-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
@media (min-width: 576px) {
  .elapsed-time {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 768px) {
  .elapsed-time {
    width: 200px;
    height: 200px;
  }
}
.time {
  color: #00d9f5;
  font-size: 20px;
  font-family: 'Roboto';
}
@media screen and (min-width: 768px) {
  .time {
    font-size: 38px;
  }
}
.time-status {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .time-status {
    font-size: 18px;
  }
}
.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.setting-btn {
  font-size: 16px;
  color: #1e293b;
  font-family: 'Roboto';
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .setting-btn {
    font-size: 20px;
  }
}
.icon {
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .icon {
    width: 30px;
    height: 30px;
  }
}
.instruction {
  font-family: 'Roboto';
  font-size: 16px;
  color: #0f172a;
}
@media screen and (min-width: 768px) {
  .instruction {
    font-size: 20px;
  }
}
.adjust-timer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adjust-icon {
  background-color: transparent;
  border: none;
  font-family: 'Roboto';
  font-size: 25px;
  color: #0f172a;
  margin-right: 15px;
}
.set-time {
  background-image: linear-gradient(to right, lightgreen, #00d9f5);
  font-size: 28px;
  color: #0f172a;
  font-family: 'Roboto';
  margin-right: 15px;
  width: 60px;
  text-align: center;
  height: 40px;
  border: none;
  padding: 2px;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .set-time {
    font-size: 20px;
    width: 40px;
    height: 30px;
  }
}
.timer-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 250px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  background-size: cover;
  background-position: center;
}

@media (min-width: 576px) {
  .timer-display-container {
    width: 450px;
    height: 320px;
  }
}

@media screen and (min-width: 768px) {
  .timer-display-container {
    width: 600px;
    height: 450px;
  }
}

@media (min-width: 992px) {
  .timer-display-container {
    width: 600px;
    height: 600px;
  }
}
